.signup-page{
    padding: 30px;
    height: 100%;
}
.signup-container{
   
    background-color: white;
    height: 100%;
    text-align: center;
    padding: 25px;
    /* overflow: auto; */
}
.signup-container h1{
    color:#0080A8
}
form{
    margin-top: 20px;
}
.input-field{
    max-width: 350px;
    margin: 30px auto;
    position: relative;
    /* padding: 20px 0; */
}
.input-field input{
    width: 100%;
    height: 35px;
    border: solid 1px grey;
    border-radius: 10px;
    padding: 5px 15px;
}
.form-label{
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #474747;
    pointer-events: none; 
    background-color: white;
    padding: 5px;
    transition: .5s ease-in-out;
}
button{
    background: #0080A8;
    border: none;
    padding: 8px 50px;
    border-radius: 8px;
    color: white;
    font-size: 20px;
}
.input-field input:focus ~ .form-label, .filled-form-label{
    top:0;
    font-size :14px;
    left: 5px;
}
.text-field-error-text{
    position: absolute;
    top: calc(100% + 5px);
    color: red;
}